name: Build and Test Babylon JDK

on:
  workflow_call:
    inputs:
      platform:
        required: true
        type: string
      bootjdk-platform:
        required: true
        type: string
      runs-on:
        required: true
        type: string
      xcode-toolset-version:
        required: false
        type: string
      dry-run:
        required: false
        type: boolean
        default: false
      debug-suffix:
        required: false
        type: string
      static-suffix:
        required: false
        type: string

jobs:
  run_hat_tests:
    runs-on: ${{ inputs.runs-on }}

    steps:
    - name: 'Checkout the babylon sources'
      uses: actions/checkout@v4

    - name: 'Get bundles'
      id: bundles
      uses: ./.github/actions/get-bundles
      with:
          platform: ${{ inputs.platform }}
          debug-suffix: ${{ inputs.debug-suffix }}
          static-suffix: ${{ inputs.static-suffix }}
      if: ${{ inputs.dry-run == false }}

    # Install OpenCL support
    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y ocl-icd-libopencl1 ocl-icd-opencl-dev clinfo libpocl2 mesa-opencl-icd
        # Verify OpenCL installation
        clinfo
    
    # Build and test HAT
    - name: Set JAVA_HOME and run hat build
      run: |
        # Find the jdk images directory
        export JAVA_HOME=${{ steps.bundles.outputs.jdk-path }}
        cd hat
        # build HAT
        "$JAVA_HOME/bin/java" @hat/bld
        # test HAT
        "$JAVA_HOME/bin/java" --add-modules jdk.incubator.code @hat/test-suite ffi-opencl
